.highlight {
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}
.picture {
  float: right;
  border: 2px solid grey;
  padding: 10px;
  background-color: grey;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 40%;
  box-sizing: border-box;
}
.txt-format{
  list-style: inside;
  text-align: left;
  color: white;
}
.box {
  float: left;
  width: 60%;
  padding: 5px;
  border: solid black;
  border-width: 1px;
  background-color: rgb(73, 75, 73);
  margin:auto;
  box-sizing: border-box;
}
.special {
  font-weight: bold;
}
body {
  background: rgb(7, 7, 7);
}