.highlight {
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}
.box-left {
  width: 20%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}
.box-left img {
  padding: 10px;
  background-color: grey;
  width: 100%;
}
.box-right {
  width: 80%;
  float: right;
  padding: 10px;
  box-sizing: border-box;
  color: white;
}
.box-right h2 {
  float: right;
  width: 100%;
  padding: 5px;
  border-bottom: solid white;
  margin-top: auto;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.special {
  font-weight: bold;
}
body {
  background: black;
}