.column-left {
  width: 20%;
  float: left;
}
.column-right {
  width: 80%;
  float: right;
}
.picture {
  padding: 10px;
  background-color: grey;
  display: block;
  width: 100%;
  box-sizing: border-box;
}